on property:sys.qcamerasvr.ready=0
    stop vendor.camera-provider-2-4-ext
    stop vendor.camera-provider-2-4

on property:sys.qcamerasvr.ready=1
    start vendor.camera-provider-2-4-ext
    start vendor.camera-provider-2-4

# when encrypting
on property:vold.decrypt=trigger_shutdown_framework
    stop vendor.camera-provider-2-4-ext
    stop vendor.camera-provider-2-4

# set correct user, set proper primary group
service vendor.camera-provider-2-4 /vendor/bin/hw/android.hardware.camera.provider@2.4-service
    interface android.hardware.camera.provider@2.4::ICameraProvider legacy/0
    user camera
    group camera audio input drmrpc
    ioprio rt 4
    capabilities SYS_NICE
    task_profiles CameraServiceCapacity MaxPerformance
    disabled
